{# common/templates/common/partials/filtros/_filtro_categoria_docente.html #}
{% load common_filters %}
<div class="col-md-3">
    <label for="{{ grafico_id }}-categoria_docente" class="form-label">Categoria do Docente</label>
    <select id="{{ grafico_id }}-categoria_docente" name="categoria_docente" class="form-select">
        <option value="total" selected>Todas</option>
        {% for c in categorias %}
        <option value="{{ c.ds_categoria_docente }}">{{ c.ds_categoria_docente|capitalizar_frase }}</option>
        {% endfor %}
    </select>
</div>