{# common/templates/common/partials/filtros/_filtro_ranking_ods.html #}

<div class="col-md-3" id="div-{{ grafico_id }}-ods"> {# Adicionei ID para o JS poder esconder se quiser #}
    <label for="{{ grafico_id }}-ods" class="form-label">ODS</label>
    <select id="{{ grafico_id }}-ods" name="ods" class="form-select">
        
        <option value="" selected>Geral / Consolidado</option>
        
        {% for ods in odss %}
            <option value="{{ ods.codigo }}">
                {{ ods.codigo|cut:"ODS_" }} {% if ods.descricao %} - {{ ods.descricao|truncatechars:40 }} {% endif %}
            </option>
        {% endfor %}
    </select>
</div>