{# common/templates/common/partials/filtros/_filtro_grau_curso.html #}
{% load common_filters %}

<div class="col-md-3">
    <label for="{{ grafico_id }}-grau_curso" class="form-label">Grau do Curso</label>
    <select id="{{ grafico_id }}-grau_curso" name="grau_curso" class="form-select">
        <option value="total" selected>Todos</option>
        {% for grau in graus_curso %}
        <option value="{{ grau.nm_grau_curso }}">{{ grau.nm_grau_curso|capitalizar_frase }}</option>
        {% endfor %}
    </select>
</div>