{# common/templates/common/partials/filtros/_filtro_agrupamento.html #}
<div class="col-md-2">
    <label for="{{ grafico_id }}-agrupamento" class="form-label">Agrupar por</label>
    <select id="{{ grafico_id }}-agrupamento" name="agrupamento" class="form-select">
        <option value="" selected>Total</option>
        <option value="nacionalidade">Nacionalidade</option>
        <option value="sexo">Sexo</option>
        <option value="faixa_etaria">Faixa Etária</option>
        {# Adicione aqui outras opções de agrupamento comuns #}
    </select>
</div>