{% extends 'common/base.html' %}
{% load rankings_tags %}

{% block conteudo %}

<div class="container mt-4">

    <div class="mb-4">
        <h1>Rankings Acadêmicos</h1>
        {# <p class="lead">Dados sobre os Programas de Pós-Graduação da UFRJ considerados em conjunto.</p> #}
    </div>

    <hr class="my-2">

    {# 1. Mude 'evolucao_academico' para 'academico_faixa' #}
    {% url 'rankings:grafico_generico' nome_plot='academico_faixa' as url_academico %}

    {# 2. Agora o url_academico e o nome_plot estão em sintonia #}
    {% render_filtros_rankings "academico" url_academico "plot-academico" "spin-academico" evolucao_academico_plot plotter_name="rankings" nome_plot="academico_faixa" %}

</div>
{% endblock %}