{% extends "common/base_index.html" %}

{% block conteudo_principal %}

<h4>RANKINGS</h4>

<p>
    Este painel visa detalhar o desempenho da UFRJ em alguns rankings internacionais. Os dados apresentados são resultado da submissão de diversos indicadores, 
    todos coletados e organizados pela equipe <a href="https://pr2.ufrj.br/gid/">GID</a>.  Para este painel, a classificação da UFRJ em cada um dos rankings foi coletada de forma manual 
    nos respectivos sites e são apresentados na forma de séries temporais, permitindo observar o desempenho da UFRJ ao longo dos anos para cada ranking.
</p>

<p>
    Importante destacar que cada ranking pode apresentar múltiplos escopos geográficos, o que permite avaliar a posição da UFRJ contra subconjuntos específicos 
    de outras instituições. Também destaca-se que alguns rankings não apresentam a posição da instituição, mas uma faixa de posições na qual ela se 
    enquadra (e.g. 100-150). Nesse caso, os gráficos apresentam duas linhas: uma para a posição máxima e outra para a mínima, representando assim o 
    intervalo de posições que a insituição pode estar ocupando.
</p>

{% endblock %} 

{% block conteudo_secundario %}
<h5><a href="{% url 'rankings:academicos' %}"># Rankings acadêmicos</a></h5>

    <p>
        Este painel aborda o desempenho da UFRJ em rankings acadêmicos, dentre os quais temos:
    </p>

    <ul> 
        <li>
            <p>
                <a href="{https://www.timeshighereducation.com/world-university-rankings}"><strong>Times Higher Education World University Rankings (THE Rankings)</strong></a>: Considerado 
                um dos rankings acadêmicos mais tradicionais, o THE Rankings foi criado em 2004 no Reino Unido, surgindo de uma parceria entre a revista Times Higher Education e 
                a empresa de dados Quacquarelli Symonds (QS), ambas especializadas em ensino superior. Ele combina medidas quantitativas de pesquisa e ensino com dados
                de reputação acadêmica, obtidos através de uma pesquisa global com milhares de docentes.
            </p>
        </li>
        <li>
            <p>
                <a href="{https://www.topuniversities.com/university-rankings}"><strong>Quacquarelli Symonds World University Rankings (QS)</strong></a>: Embora tenha começado em parceria com o THE, o QS 
                se tornou um ranking independente em 2010, com base em Londres. Após a separação, a Quacquarelli Symonds reformulou a metodologia de seu 
                ranking, atribuindo um peso consideravelmente maior à reputação. Ele também se destaca por incluir a reputação entre empregadores.
            </p>
        </li>
        <li>
            <p>
                <a href="{https://www.shanghairanking.com}"><strong>Academic Ranking of World Universities (AWRU ou Shangai Ranking)</strong></a>: Popularmente conhecido como Shangai Ranking, o AWRU foi criado
                em 2003, na Universidade Jiao Tong de Xangai, na China. O objetivo original não era criar um ranking global para o público, mas sim uma ferramenta interna para 
                o governo chinês. Por meio da comparação do desempenho das universidades chinesas com as melhores do mundo, seria possível identificar aspectos onde as 
                instituições chinesas poderiam melhorar e, assim, acelerar seu desenvolvimento. Graças a isso, o ranking é muito focado pesquisa de alto impacto, 
                como o número de prêmios Nobel e publicações em revistas científicas de elite.
            </p>
        </li>
        <li>
            <p>
                <a href="{https://cwur.org/}"><strong>Center for World University Rankings (CWUR)</strong></a>: É um ranking global que se destaca por sua metodologia que 
                não depende de dados fornecidos pelas próprias instituições. Baseado em dados públicos, ele avalia as universidades em quatro áreas principais: Qualidade 
                da Educação (sucesso dos ex-alunos), Empregabilidade, Qualidade do Corpo Docente e Desempenho em Pesquisa.
            </p>
        </li>
    </ul>    

<h5><a href="{% url 'rankings:sustentabilidade' %}"># Rankings de sustentabilidade</a></h5>
    <p>
        Este painel visa detalhar o desempenho da UFRJ em rankings de sustentabilidade, dentre os quais temos:
    </p>

    <ul> 
        <li>
            <p>
                <a href="{https://www.timeshighereducation.com/impactrankings}"><strong>Times Higher Education (THE) Impact Rankings</strong></a>: Ranking global que avalia
                o desempenho das universidades em relação aos 17 Objetivos de Desenvolvimento Sustentável (ODS) da ONU. Ele mede o impacto social e econômico da instituição 
                em áreas como pesquisa, gestão, alcance comunitário e ensino.
            </p>
        </li>
        <li>
            <p>
                <a href="{https://www.topuniversities.com/university-rankings/sustainability-rankings}"><strong>QS Sustainability Rankings</strong></a>: Ranking focado na sustentabilidade social 
                e ambiental das instituições de ensino superior. Sua metodologia se divide em três categorias: Impacto Ambiental, Impacto Social e Governança, avaliando o papel da universidade 
                na resolução de desafios globais.
            </p>
        </li>
        <li>
            <p>
                <a href="{https://greenmetric.ui.ac.id/ranking}"><strong>UI GreenMetric World University Ranking</strong></a>: Ranking internacional que avalia o compromisso e as ações das universidades 
                em prol de um campus verde e da sustentabilidade ambiental. Sua metodologia foca em seis categorias de gestão operacional do campus: Infraestrutura, Energia e Mudanças Climáticas, Resíduos, 
                Água, Transporte e Educação/Pesquisa em sustentabilidade.
            </p>
        </li>
    </ul>    

{% endblock %} 