{% extends 'common/base.html' %}
{% load rankings_tags %}
{% load static %}

{% block conteudo %}

<div class="container mt-4">

    <div class="mb-4">
        <h1>Rankings de Sustentabilidade</h1>
        {# <p class="lead">Dados sobre os Programas de Pós-Graduação da UFRJ considerados em conjunto.</p> #}
    </div>

    <hr class="my-2">

    {# Configuração do gráfico - NOME ATUALIZADO AQUI #}
    {% url 'rankings:grafico_generico' nome_plot='sustentabilidade_faixa' as url_sustentabilidade %}
    
    {# Chamada da Tag #}
    {% render_filtros_rankings "sustentabilidade" url_sustentabilidade "plot-sust" "spin-sust" evolucao_sustentabilidade_plot plotter_name="rankings" nome_plot="sustentabilidade_faixa" %}

</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'common/js/rankings.js' %}"></script>
{% endblock %}
