db.sqlite3
backlog.txt
__pycache__/
venv/
importar/
dados/
*.ipynb
.env
*.pem
openalex/database/
docs/
*.swp
dump/
requirements.txt.backup*

staticfiles/
media/
mediafiles/

*.py[cod]
*$py.class
.pytest_cache/

.vscode/
.idea/
.DS_Store
Thumbs.db


*.dump