{# sucupira/partials/posgrad/ppg_detalhe/_form_filtro_ano_unico.html #}

{% extends "common/partials/_grafico_com_filtros.html" %}

{% block filtros %}
<div class="row g-3 align-items-end">
    <div class="col-md-3">
        <label for="ano" class="form-label">Selecione o Ano</label>
        <select id="ano" name="ano" class="form-select">
            {% for ano in anos_disponiveis %}
                {# O filtro 'ano' do mapeamento tem o ano de 2024 como padrão #}
                <option value="{{ ano.ano_valor }}" {% if ano.ano_valor == 2013 %}selected{% endif %}>
                    {{ ano.ano_valor }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}