{# sucupira/templates/sucupira/partials/posgrad/_aba_discentes_conteudo.html #}

{% load sucupira_tags %}

<h3 style="text-align: center;">Contagem de discentes</h3>

{% url 'sucupira:grafico_generico_ppg' programa_id=programa.id nome_plot='discentes_por_ano_ppg' as url_discentes_ano %}
{% render_filtros_ppg_detalhe "discentes" url_grafico=url_discentes_ano grafico_id="discentes-ano" spinner_id="spinner-discentes-ano" grafico_html=discentes_ano_plot plotter_name="ppg_detalhe" nome_plot="discentes_por_ano_ppg" programa_id=programa.id %}

<br>
<h3 style="text-align: center;">Média de meses para titulação</h3>

{% url 'sucupira:grafico_generico_ppg' programa_id=programa.id nome_plot='media_titulacao_por_ano' as url_media_titulacao_ano %}
{% render_filtros_ppg_detalhe "media_titulacao" url_grafico=url_media_titulacao_ano grafico_id="media-titulacao-ano" spinner_id="spinner-media-titulacao-ano" grafico_html=media_titulacao_ano_plot plotter_name="ppg_detalhe" nome_plot="media_titulacao_por_ano" programa_id=programa.id %}