{# sucupira/templates/sucupira/partials/posgrad/_aba_discentes_conteudo.html #}

{% load sucupira_tags %}

<h3 style="text-align: center;">Contagem de discentes</h3>

{# MODIFICADO: Aponta para a URL genérica com programa_id e nome_plot='discentes_por_ano' #}
{% url 'posgrad:grafico_generico_ppg' programa_id=programa.id nome_plot='discentes_por_ano' as url_discentes_ano %}
{% render_filtros_ppg_detalhe "discentes" url_discentes_ano "discentes-ano" "spinner-discentes-ano" discentes_ano_plot %}

<br>
<h3 style="text-align: center;">Média de meses para titulação</h3>

{# MODIFICADO: Aponta para a URL genérica com programa_id e nome_plot='media_titulacao_por_ano' #}
{% url 'posgrad:grafico_generico_ppg' programa_id=programa.id nome_plot='media_titulacao_por_ano' as url_media_titulacao_ano %}
{% render_filtros_ppg_detalhe "media_titulacao" url_media_titulacao_ano "media-titulacao-ano" "spinner-media-titulacao-ano" media_titulacao_ano_plot %}