{# sucupira/partials/posgrad/ppg_detalhe/_partial_filtros_base.html #}

<div class="row g-3 align-items-end">
    <div class="col-md-2">
        <label for="ano_inicial" class="form-label">Ano Inicial</label>
        <input type="number" id="ano_inicial" name="ano_inicial" class="form-control" value="2013">
    </div>

    <div class="col-md-2">
        <label for="ano_final" class="form-label">Ano Final</label>
        <input type="number" id="ano_final" name="ano_final" class="form-control" value="2023">
    </div>

    {# Placeholder para a próxima camada de filtros (comuns) #}
    {% if partial_filtros_comuns %}
        {% include partial_filtros_comuns %}
    {% endif %}
</div>