{% extends "common/base.html" %}

{% block conteudo %}
        
<div class="container p-4">
    <br>
    <div class="row justify-content-center">
        <div class="col-8">
            <h2 class="text-center text-black">PG e Pesquisa da UFRJ em números</h2>
            <br>
            <div class="text-black text-justify">
                <p>
                    O Painel “PG e Pesquisa da UFRJ em números” apresenta informações relevantes sobre os dois pilares de sustentação da <a href="https://pr2.ufrj.br/">PR2</a> da UFRJ, 
                    a pós-graduação e a pesquisa, oferecendo um panorama rico e útil tanto seja para a tomada de decisão na gestão de nossa instituição 
                    seja para o público geral que pode, a partir das análises temporais e com uso de filtros, conhecer e monitorar o desempenho da maior 
                    universidade pública do sistema federal nesses dois quesitos.
                </p>
                <p>
                    A construção deste Painel, que é resultado do esforço coletivo da equipe <a href="https://pr2.ufrj.br/gid">GID</a>, priorizou o uso de ferramentas abertas disponíveis em Python 
                    e também de fontes abertas, como a Plataforma Sucupira e a base bibliográfica OpenAlex, das quais foram coletadas grande parte das informações apresentadas aqui. 
                    Além disso, ao ter seu código-fonte disponível na íntegra no <a href="https://github.com/GID-UFRJ/gid-painel">GitHub</a> e permitir a extração integral dos dados de cada uma das análises, 
                    o Painel está em completa sintonia com o conceito de transparência pública, na mesma direção de outras iniciativas da UFRJ e do governo federal.
                </p>

                <p>
                    Para melhor compreensão de todos, as informações estão dispostas em quatro painéis de dados específicos sobre:
                </p>
                
                <div class="d-flex flex-wrap justify-content-between">
                    <a href="{% url 'openalex:index' %}" class="btn btn-ufrj-blue flex-fill mx-1 my-1">
                        <i class="fas fa-search"></i> Pesquisa
                    </a>
                    <a href="{% url 'pessoal:index' %}" class="btn btn-ufrj-blue flex-fill mx-1 my-1">
                        <i class="fas fa-users"></i> Pessoal
                    </a>
                    <a href="{% url 'posgrad:index' %}" class="btn btn-ufrj-blue flex-fill mx-1 my-1">
                         <i class="fas fa-graduation-cap"></i> Pós-Graduação
                    </a>
                    <a href="{% url 'rankings:index' %}" class="btn btn-ufrj-blue flex-fill mx-1 my-1">
                        <i class="fas fa-trophy"></i> Rankings
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %} 
