{% extends "common/base.html" %}

{% load plot_tags %}

{% block conteudo %}
        
<div class="container p-4">
    <br>
    <div class="row justify-content-center">
        <div class="col-8">
            <h2 class="text-center text-black">PG e Pesquisa da UFRJ em números</h2>
            <br>
            <div class="text-black text-justify">
                <p>
                    O Painel “PG e Pesquisa da UFRJ em números” apresenta informações relevantes sobre os dois pilares de sustentação da <a href="https://pr2.ufrj.br/">PR2</a> da UFRJ, 
                    a pós-graduação e a pesquisa, oferecendo um panorama rico e útil tanto seja para a tomada de decisão na gestão de nossa instituição 
                    seja para o público geral que pode, a partir das análises temporais e com uso de filtros, conhecer e monitorar o desempenho da maior 
                    universidade pública do sistema federal nesses dois quesitos.
                </p>
                <p>
                    A construção deste Painel, que é resultado do esforço coletivo da equipe <a href="https://pr2.ufrj.br/gid">GID</a>, priorizou o uso de ferramentas abertas disponíveis em Python 
                    e também de fontes abertas, como a Plataforma Sucupira e a base bibliográfica OpenAlex, das quais foram coletadas a maior parte das informações apresentadas aqui. 
                    Além disso, ao ter seu código-fonte disponível na íntegra no <a href="https://github.com/GID-UFRJ/gid-painel">GitHub</a> e permitir a extração integral dos dados de cada uma das análises, 
                    o Painel está em completa sintonia com o conceito de transparência pública, na mesma direção de outras iniciativas da UFRJ e do governo federal.
                </p>
                
                <p>
                    Seguem abaixo alguns indicadores sobre a produção científica e pós-graduação da UFRJ
                    obtida através destas fontes de dados abertas:
                </p>

                <h4>Produção</h4>

                <hr class="hr-ufrj">


                <div class="row mb-4">

                    <div class="col-md-4">
                        {% render_kpi plotter "kpi_total_documentos" %}
                    </div>

                    <div class="col-md-4">
                        {% render_kpi plotter "kpi_total_artigos" %}
                    </div>

                    <div class="col-md-4">
                        {% render_kpi plotter "kpi_total_oa" %}
                    </div>

                    
                </div>

                <div class="row mb-4">

                    <div class="col-md-6">
                        {% render_kpi plotter "kpi_total_citacoes_artigos" %}
                    </div>

                </div>


                <h4>PPGs</h4>

                <hr class="hr-ufrj">

                <div class="row mb-4">

                    <div class="col-md-3">
                        {% render_kpi plotter "kpi_programas_ufrj" %}
                    </div>

                    <div class="col-md-3">
                        {% render_kpi plotter "kpi_programas_academicos" %}
                    </div>

                    <div class="col-md-3">
                        {% render_kpi plotter "kpi_programas_profissionais" %}
                    </div>

                    <div class="col-md-3">
                        {% render_kpi plotter "kpi_programas_nota_7" %}
                    </div>

                </div>

                <div class="row mb-4">

                    <div class="col-md-4">
                        {% render_kpi plotter "kpi_media_titulacao_doutorado" %}
                    </div>

                    <div class="col-md-4">
                        {% render_kpi plotter "kpi_media_titulacao_mestrado" %}
                    </div>

                    <div class="col-md-4">
                        {% render_kpi plotter "kpi_media_titulacao_profissional" %}
                    </div>

                </div>



                <h4>Docentes</h4>

                <hr class="hr-ufrj">

                <div class="row mb-4">

                    <div class="col-md-3">
                        {% render_kpi plotter "kpi_docentes_ufrj" %}
                    </div>

                    <div class="col-md-3">
                        {% render_kpi plotter "kpi_docentes_bolsistas" %}
                    </div>
                    
                    <div class="col-md-3">
                        {% render_kpi plotter "kpi_docentes_de" %}
                    </div>

                    <div class="col-md-3">
                        {% render_kpi plotter "kpi_docentes_estrangeiros" %}
                    </div>


                </div>

                <div class="container mt-4">
                    <h4>Discentes</h4>

                    <hr class="hr-ufrj">

                    <div class="row mb-4">
                        <div class="col-md-4">{% render_kpi plotter "kpi_matriculados_doutorado" %}</div>
                        <div class="col-md-4">{% render_kpi plotter "kpi_matriculados_mestrado" %}</div>
                        <div class="col-md-4">{% render_kpi plotter "kpi_matriculados_profissional" %}</div>
                    </div>
                
                    <div class="row mb-4">
                        <div class="col-md-4">{% render_kpi plotter "kpi_titulados_doutorado" %}</div>
                        <div class="col-md-4">{% render_kpi plotter "kpi_titulados_mestrado" %}</div>
                        <div class="col-md-4">{% render_kpi plotter "kpi_titulados_profissional" %}</div>
                    </div>
                </div>

                <h4>Rankings</h4>

                <hr class="hr-ufrj">

                    <div class="row mb-5">
                        <div class="col-md-4">{% render_kpi plotter "kpi_posicao_the_latam" %}</div>
                        <div class="col-md-4">{% render_kpi plotter "kpi_posicao_qs_latam" %}</div>
                    </div>



                <p class="mt-4 mb-4">
                    Para melhor compreensão de todos, as visualizações completas das séries temporais acerca  da pesquisa e
                    pós-graduação da UFRJ estão dispostas em quatro painéis de dados específicos sobre:
                </p>
                

                <div class="d-flex flex-wrap justify-content-between">
                    <a href="{% url 'openalex:index' %}" class="btn btn-ufrj-blue flex-fill mx-1 my-1">
                        <i class="fas fa-search"></i> Pesquisa
                    </a>
                    <a href="{% url 'pessoal:index' %}" class="btn btn-ufrj-blue flex-fill mx-1 my-1">
                        <i class="fas fa-users"></i> Pós-Graduação: Pessoal
                    </a>
                    <a href="{% url 'posgrad:index' %}" class="btn btn-ufrj-blue flex-fill mx-1 my-1">
                         <i class="fas fa-graduation-cap"></i> Pós-Graduação: Programas
                    </a>
                    <a href="{% url 'rankings:index' %}" class="btn btn-ufrj-blue flex-fill mx-1 my-1">
                        <i class="fas fa-trophy"></i> Rankings
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %} 
