{# sucupira/partials/_filtros_docentes.html #}

{% load common_filters %}

<div class="col-md-3">
    <label for="modalidade" class="form-label">Modalidade</label>
    <select id="modalidade" name="modalidade" class="form-select">
        <option value="total" selected>Todas</option>
        {% for modalidade in modalidades %}
        <option value="{{ modalidade.nm_modalidade_programa }}">{{ modalidade.nm_modalidade_programa|capitalizar_frase }}</option>
        {% endfor %}
    </select>
</div>
<div class="col-md-3">
    <label for="categoria_docente" class="form-label">Categoria</label>
    <select id="categoria_docente" name="categoria_docente" class="form-select">
        <option value="total" selected>Todas</option>
        {% for c in categorias %}
        <option value="{{ c.ds_categoria_docente }}">{{ c.ds_categoria_docente|capitalizar_frase }}</option>
        {% endfor %}
    </select>
</div>
<div class="col-md-3">
    <label for="bolsa_produtividade" class="form-label">Bolsa Produtividade</label>
    <select id="bolsa_produtividade" name="bolsa_produtividade" class="form-select">
        <option value="total" selected>Todas</option>
        {% for b in bolsas %}
        <option value="{{ b.cd_cat_bolsa_produtividade }}">{{ b.cd_cat_bolsa_produtividade }}</option>
        {% endfor %}
    </select>
</div>
