{% extends "gid/base.html" %}

{% block conteudo %}
        
    <div class='divisoria' id='id_teste'>
        <img src = "data:image/png;base64, {{ grafl1_1 }}" alt="" class='imagemsuperior'>
        <img src = "data:image/png;base64, {{ grafl1_2 }}" alt="" class='imagemsuperior'>
        <img src = "data:image/png;base64, {{ grafl1_3 }}" alt="" class='imagemsuperior'>  
    </div>

    <div class='divisoria'>
        <div class='grafico'> {{ grafl3_1 | safe }}</div>  
        <div class='grafico'> {{ grafl3_2 | safe }}</div>  
        <div class='grafico'> {{ grafl3_3 | safe }}</div>  
        <div class='grafico'> {{ grafl3_4 | safe }}</div>  
        <div class='grafico'> {{ grafl3_5 | safe }}</div>  
    </div>
    
    <div class='divisoria'>
        <div class='grafico'> {{ grafl3_6 | safe }}</div>  
        <div class='grafico'> {{ grafl3_7 | safe }}</div>  
    <div>


    <select id="meu-combobox">
        <option value="1">Opção 1</option>
        <option value="2">Opção 2</option>
      </select>
      

      <button onclick="carregarElemento()">Recarregar</button>
      <div id="minha-div">
        <!-- Conteúdo que será atualizado -->
      </div>

{% endblock %} 

{% block style %}
    <style>
    .grafico{
        border: 2px solid blue;
        padding:5px;
        margin:5px;
        background-color: white;
        border-radius: 20px;
    }
    .divisoria{
        display:flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center; 
        margin:5; 
        padding: 0
    }
    .imagem{
        margin:5;
        width:500;
        height:400;
        border-radius: 20px;
    }
    .imagemsuperior{
        border: 2px solid blue;
        margin:5;
        width:500;
        height:200;
        border-radius: 20px;
    }
    </style>

{% endblock %}
