{# sucupira/partials/_plot_pessoal_por_ano.html #}

{% extends "common/partials/_grafico_com_filtros.html" %}

{% load common_filters %}

{% block filtros %}

<div class="row g-3 align-items-end">

    <div class="col-md-2">
        <label for="ano_inicial" class="form-label">Ano Inicial</label>
        <input type="number" id="ano_inicial" name="ano_inicial" class="form-control" value="2013">
    </div>

    <div class="col-md-2">
        <label for="ano_final" class="form-label">Ano Final</label>
        <input type="number" id="ano_final" name="ano_final" class="form-control" value="2023">
    </div>

    <div class="col-md-2">
        <label for="tipo_grafico" class="form-label">Tipo de Gráfico</label>
        <select id="tipo_grafico" name="tipo_grafico" class="form-select">
            <option value="barra" selected>Barras</option>
            <option value="linha">Linhas</option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="agrupamento" class="form-label">Agrupar por</label>
        <select id="agrupamento" name="agrupamento" class="form-select">
            <option value="total" selected>Total</option>
            <option value="nacionalidade">Nacionalidade</option>
            <option value="sexo">Sexo</option>
            <option value="faixa_etaria">Faixa Etária</option>
        </select>
    </div>


   <!-- bloco dinâmico com filtros específicos para discentes/docentes --> 
    {% include partial_filtros %}

</div>

{% endblock %}