{% extends "common/base_index.html" %}

{% load i18n %} {# Carregado para podermos utilizar o bloco 'blocktrans'  #}


{% block conteudo_principal %}

<h4> 
    PÓS-GRADUAÇÃO: Pessoal

    {% blocktrans asvar principal_nota %}
        <p>
            Apesar do portal de dados abertos apresentar dados desde o ano 2004, este painel utiliza apenas os registros a partir de 2013,
            ano no qual a coleta passou a ser realizada através da plataforma <a href='https://sucupira.capes.gov.br/'>Sucupira</a>.

        </p>
    {% endblocktrans %}    

    {% include "common/partials/_info_adicional.html" with texto=principal_nota %}


</h4>
    
    
<!-- <h4>PÓS-GRADUAÇÃO: Pessoal</h4> -->

<p>
    Os dados disponíveis neste painel foram coletados do Portal de Dados Abertos da Capes, 
    que disponibiliza informações em série histórica sobre o corpo docente e discente de 
    todos os programas de pós-graduação registrados no país (ver: https://dadosabertos.capes.gov.br/)
</p>

<p>
    Para a recuperação dos dados de pessoal, ou seja do corpo docente e corpo discente vinculados à UFRJ, foram baixados todos os arquivos csv relativos à 
    <a href="https://dadosabertos.capes.gov.br/organization/diretoria-de-avaliacao">avaliação da Pós-Graduação</a> disponibilizados pela CAPES. Posteriormente,
    os registros relativos à UFRJ foram programaticamente extraídos de todos os arquivos através da linguagem Python. Os dados filtrados foram limpos e reestruturados,
    sendo posteriormente utilizados para a população do banco de dados utilizado para os painéis de pessoal e pós-graduação. À medida que a CAPES disponibilizar dados para 
    anos mais recentes, a equipe do GID irá baixá-los, limpá-los e adicioná-los ao banco de dados para que as análises disponibilizadas estejam tão atualizadas quanto possível.
</p>

{% endblock %} 

{% block conteudo_secundario %}

<h5>
    <a href="{% url 'pessoal:pessoal_discentes' %}"> # Discentes</a>

    {% blocktrans asvar discentes_nota %}
        <p>
            Para cada um destes grupos, é possível usar os filtros de: (a) nacionalidade (brasileira ou estrangeira), 
            (b) sexo (feminino ou masculino), (c) faixa etária (de 19 ou menos a 70 ou mais anos, com as categorias 
            intermediárias correspondendo a intervalos de 5 anos), (d) grande área e (e) situação do/a discente 
            (concluinte, matriculado, etc…). Importante destacar que os dados sobre sexo dos discentes vinculados aos 
            PPGs da UFRJ foram atribuídos pela equipe GID, uma vez que os dados originais da Capes não contém essa informação. 
            Essa inferência foi feita a partir do dataset Gêneros dos Nomes, disponibilizado pelo projeto BrasilIO e extraído 
            de dados oficiais do Censo 2010. Os dados descrevem a porcentagem de homens e mulheres que possuem um determinado primeiro nome. 
            Caso a porcentagem de mulheres para um dado nome seja maior que o de homens, o nome é considerado feminino e vice-versa. 
            Nomes não encontrados nesses dados são classificados como 'D' (sexo desconhecido).
        </p>
    {% endblocktrans %}    

    {% include "common/partials/_info_adicional.html" with texto=discentes_nota %}
</h5>

<p>
    Inclui os totais de discentes segundo o ano de matrícula e de conclusão na PG em cada nível (mestrado ou doutorado) e tipo de programa (profissional ou acadêmico). 
</p>

<h5>
    <a href="{% url 'pessoal:pessoal_docentes' %}"># Docentes</a>

    {% blocktrans asvar docentes_nota %}
        <p>
            Para cada um destes grupos, é possível usar os filtros de: (a) nacionalidade (brasileira ou estrangeira), 
            (b) sexo (feminino e masculino), (c) faixa etária (mesmas categorias dos discentes), (d) grande área, 
            (e) tipo de programa (acdêmico ou profissional), e (f) categoria do/a docente (permanente, colaborador ou visitante). 
            Tal como os discentes, os dados sobre sexo dos docentes vinculados às PPGs da UFRJ foram atribuídos pela equipe GID, 
            uma vez que os dados originais da Capes não contém essa informação.
        </p>
    {% endblocktrans %}    

    {% include "common/partials/_info_adicional.html" with texto=docentes_nota %}

</h5>

<p>
    Inclui os totais de docentes na PG.
    Inclui os totais de docentes por ano na PG. Para cada um destes grupos, é possível usar os filtros de: 
    (a) nacionalidade (brasileira ou estrangeira), (b) sexo (feminino e masculino), (c) faixa etária (mesmas categorias dos discentes),  
    (d) grande área, (e) tipo de programa (acdêmico ou profissional), e 
    (f) categoria do/a docente (permanente, colaborador ou visitante). Tal como os discentes, os dados sobre sexo dos docentes 
    vinculados às PPGs da UFRJ foram atribuídos pela equipe GID, uma vez que os dados originais da Capes não contém essa informação. 
</p>

{% endblock %}