{% extends "common/base_index.html" %}

{% block conteudo_principal %}

<h4> PÓS-GRADUAÇÃO: Os Programas</h4>

<p>
    Os dados disponíveis neste painel foram coletados do Portal de Dados Abertos da Capes, 
    que disponibiliza informações em série histórica, desde o ano de 2013 (quando a coleta passou a ser através da plataforma <a href='https://sucupira.capes.gov.br/'>Sucupira</a>), 
    sobre o corpo docente e discente de todos os programas de pós-graduação registrados no país (ver: <a href="https://dadosabertos.capes.gov.br">Dados Abertos Capes</a>)
</p>

{% endblock %} 

{% block conteudo_secundario %}
<h5><a href="{% url 'posgrad:posgrad_ufrj' %}"># Os Programas</a></h5>

<p>
    Apresenta informações, como total de discentes e docentes desde 2013, sobre o conjunto de Programas de Pós-Graduação da UFRJ.
</p>


<h5><a href="{% url 'posgrad:ppgs' %}"># Cada Programa</a></h5>

<p>
    Apresenta informações detalhadas, como tempo médio de defesa desde 2013, sobre cada Programa de Pós-Graduação da UFRJ.
</p>


{% endblock %}
