{% extends 'common/base.html' %} 

{% load common_tags %}

{% block conteudo %}
    <h1 class="mb-4">Detalhes do Programa: {{ programa.nm_programa_ies|default:"Nome não disponível" }}</h1>

    <div class="card" style="width: 80%; margin-left: auto; margin-right: auto;">
        <div class="card-body">
            <h5 class="card-title">Informações Gerais</h5>
            <ul>
                <li><strong>Grande Área:</strong> {{ programa.grande_area_nome|default:"Não informado" }}</li>
                <li><strong>Área de Avaliação:</strong> {{ programa.area_avaliacao_nome|default:"Não informado" }} ({{ programa.area_avaliacao_codigo|default:"Não informado" }})</li>
                <li><strong>Ano de Início:</strong> {{ programa.an_inicio_programa|default:"Não informado" }}</li>
                <li><strong>Modalidade Atual:</strong> {{ programa.modalidade_atual|default:"Não informado" }}</li>
                <li><strong>Conceito Atual:</strong> {{ programa.conceito_atual|default:"Não informado" }}</li>
                <li><strong>Situação Atual:</strong> {{ programa.situacao_atual|default:"Não informado" }}</li>
                <li><strong>Último Ano com Dados:</strong> {{ programa.ultimo_ano|default:"Não informado" }}</li>
                <li>
                    <strong>Cursos Oferecidos:</strong>
                    {% if cursos %}
                        <ul>
                            {% for curso in cursos %}
                                <li>{{ curso.grau_curso.nm_grau_curso }} 
                                    {% if curso.an_inicio_curso %}
                                        (Desde {{ curso.an_inicio_curso }})
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Não informado
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

{# Adicionando as abas #}
{% render_abas abas abas_id="ppg-detalhe-abas" %}

{% endblock %}