{% extends "common/base.html" %}

{% load openalex_tags %}

{% block conteudo %}
        
<!--
<div class='divisoria' id='id_teste'>
    <img src="data:image/png;base64, {{ card_01|default:'' }}" alt="" class='imagemsuperior'>
    <img src="data:image/png;base64, {{ card_02|default:'' }}" alt="" class='imagemsuperior'>
</div>
-->

<!-- Colaborações por ano -->
<div id="container-colab-ano">
    {% render_filtros_producao tipo="evolucao_colaboracao" url_grafico="/pesquisa/graficos/evolucao_colaboracao/" grafico_id="colab-ano" spinner_id="spinner-colab-ano" grafico_html=graf_01 plotter_name="openalex" nome_plot="evolucao_colaboracao" %}
</div>

<!-- Top instituições colaboradoras -->
<div id="container-top-colab" class="mt-5">
    {% render_filtros_producao tipo="top_instituicoes" url_grafico="/pesquisa/graficos/top_instituicoes/" grafico_id="top-colab" spinner_id="spinner-top-colab" grafico_html=graf_02 plotter_name="openalex" nome_plot="top_instituicoes" %}
</div>



{% endblock %}