{% extends "homepage/base.html" %}

{% block conteudo %}
        
<div class='divisoria' id='id_teste'>
    <img src="data:image/png;base64, {{ card_01|default:'' }}" alt="" class='imagemsuperior'>
    <img src="data:image/png;base64, {{ card_02|default:'' }}" alt="" class='imagemsuperior'>
</div>

{% url 'openalex:grafico_colaboracoes_por_ano' as url_colab_ano %}
{% url 'openalex:grafico_top_colaboracoes' as url_top_colab %}


<!-- Colaborações por ano -->
{% include "openalex/partials/colaboracao/_plot_colaboracoes_por_ano.html" with url_grafico=url_colab_ano grafico_id="colab-ano" spinner_id="spinner-colab-ano" grafico_html=graf_01 %}

<!-- Top instituições colaboradoras -->
{% include "openalex/partials/colaboracao/_plot_top_colaboracoes.html" with url_grafico=url_top_colab grafico_id="top-colab" spinner_id="spinner-top-colab" grafico_html=graf_02 %}

{% endblock %}