{% extends "common/base.html" %}

{% block conteudo %}

<div class='divisoria'>
    <img src="data:image/png;base64, {{ card_01 }}" alt="" class='imagemsuperior'>
    <img src="data:image/png;base64, {{ card_02 }}" alt="" class='imagemsuperior'>
</div>

{% url 'openalex:grafico_citacoes_por_ano' as url_citacoes_ano %}


<!-- Citações por ano -->
{% include "openalex/partials/impacto/_plot_citacoes_por_ano.html" with url_grafico=url_citacoes_ano grafico_id="citacoes-ano" spinner_id="spinner-citacoes-ano" grafico_html=graf_01 %}


{% endblock %}
