{% extends "common/base.html" %}

{% block conteudo %}
        
<div class='divisoria'>
    <img src = "data:image/png;base64, {{ card_01 }}" alt="" class='imagemsuperior'>
    <img src = "data:image/png;base64, {{ card_02 }}" alt="" class='imagemsuperior'>
</div>



{% url 'openalex:grafico_producao_por_ano' as url_producao_ano %}

<!-- Citações por ano -->
{% include "openalex/partials/producao/_plot_producao_por_ano.html" with url_grafico=url_producao_ano grafico_id="producao-ano" spinner_id="spinner-producao-ano" grafico_html=graf_01 %}


<!-- Gráfico - Distribuição temática de documentos UFRJ -->
<div class="container mt-4">
  <div class="grafico" style="height: 90vh;">
      {{ graf_02 | safe }}
  </div>
</div>

{% endblock %} 